.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.pokemon-table th,
.pokemon-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.pokemon-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pokemon-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pokemon-table tbody tr:hover {
  background-color: #ffa500;
}
